PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=transcendence
POSTGRES_PASSWORD=transcendence
POSTGRES_DB=transcendence

DATABASE_URL="postgresql://transcendence:transcendence@localhost:5433/transcendence?schema=public"

